{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "es6": true
    },
    "plugins": [
      "react",
      "jsx-a11y"
    ],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "settings": {
      "import/resolver": {
        "webpack": {
          "config": "./webpack.config.js"
        }
      }
    },
    "rules": {
      "import/no-unresolved": 0,
      "import/prefer-default-export": 0,
      "no-confusing-arrow": 0,
      "react/require-default-props": 0,
      "react/forbid-prop-types": 1,
      "react/jsx-filename-extension": 0
    }
}
